*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial Black';
}

body{
  background-color: #4149b8;
}

.registros{
  width: 502px;
  background: #383838;
  padding: 25px;
  margin: auto;
  margin-top: 100px;
  border-radius: 8px;
  color: #fff;
}

.registros h3, hr{
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

.etiqueta{
  font-weight: bold;
  display: inline-block;
  width: 110px;
}

.campos{
  width: 74%;
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  font-size: 16px;
}

.etiquetatlf, .etiquetacel{
  font-weight: bold;
  display: inline-block;
  width: 110px;
}

.campotlf, .campocel{
  width: 23%;
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  font-size: 16px;
}

.etiquetaf{
  font-weight: bold;
  display: inline-block;
  width: 173px;
}

.campof{
  width: 60%;
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  font-size: 16px;
}

.registros .boton{
  width: 50%;
  background: #f03c3c;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  margin-left: 25%;
}
