*{
    font-family: 'helvetica';
}
body{
    background-image: url(fondo.jpg);
}
.titulo{
    text-align: center;
    font-size: 50px;
}
.general{
    padding-top: 75px;
    width: 60%;
    margin: auto;
}
.operacion2{
    text-align: center;
    border: 5px solid #000000;
    background-color:#c4ffa2;
    border-radius: 8px;
    margin-top: 10px;
    border-style: double;
}
.etiqueta{
    display: inline-block;
    width: 200px;
}
.campo{
    padding: 5px;
    border-radius: 5px;
}
.boton{
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    background-color: #e05858;
}
